PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/safehelp
TOMTOM_API_KEY=your_tomtom_api_key
GROQ_API_KEY=your_groq_api_key

# Uber Sandbox Configuration
UBER_ENV=sandbox
UBER_BASE_URL=https://sandbox-api.uber.com
UBER_LOGIN_URL=https://login.uber.com
UBER_CLIENT_ID=your_uber_client_id
UBER_CLIENT_SECRET=your_uber_client_secret
UBER_REDIRECT_URI=https://muj-k53c.onrender.com/api/uber/callback
UBER_SCOPES=request

# Security
ENCRYPTION_KEY=a_32_byte_hex_string_for_encrypting_tokens
FRONTEND_URL=https://muj-cnaf.vercel.app
